version: '2'

services:
    <container_name>:
        container_name: <container_name> 
        image: <image_name> 
        ports:
            - <exposed_port>:<container_port>
        volumes:
            - <volume_mount_address>:<to_mount_address>
        environment:
            - <environment_settings> 
        depends_on:
            - <optional_container_dependency> 
        restart: <restart_mode> 
volumes:
    <volume_file_name>:

